@import "color";
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,div,#___gatsby {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul,li{
    list-style: none;
}
body{
  background-color:$back-color;
  color:$text-main-color;
  min-height:100vh;
  position:relative;
}
footer{
  width:99vw;
  background: $back-sub-color;
  padding:30px 0;
  position:absolute;
  bottom:0
}
//メディアクエリ用 参考: https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html
$breakpoints: (
        'sm': 'screen and (max-width: 768px)',
        'md': 'screen and (min-width: 768px)',
        'lg': 'screen and (min-width: 1000px)',
        'xl': 'screen and (min-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
