@import "color";
@import "reset";
html,body,h1,h2,h3{
  margin:0;
}
header{
  width:100%;
  background-color:$back-sub-color;
  h1{
    font-size:40px;
    padding:20px;
  }
  h3{
    margin:5px;
    padding:10px;
    font-size:20px;
  }
  small,p{
    padding:3px;
    padding-left:30px;
  }
}
article:nth-child(2n+1){
  header{
  background-color:$text-accent-color;
  }
}
.gatsby-image-wrapper{
  margin:10px;
  margin-top:20px;
}
footer{
  width:100%;
  position:static;
  padding:0;
  div{
    padding:10px;
  }
  }
