@import "color";
@import "reset";
html,body,h1,h2,h3{
  margin:0;
}
header{
  background-color:$back-sub-color;
  h1{
    font-size:40px;
    padding:20px;
  }
  h3{
    margin:5px;
    padding:10px;
    font-size:20px;
  }
  small,p{
    padding:3px;
    padding-left:30px;
  }
  .gatsby-image-wrapper{
    height:300px;
    object-fit: cover;
  }
}

article{
  width:80vw;
  margin:0 auto;
  .posts {
    margin: 20px;
    a {
      display: flex;
      color:$text-main-color;
      .post-info {
        flex-grow: 2;
      }
      .posts__image_container {
        flex-grow: 1;
        .gatsby-image-wrapper{
          height:100px;
          object-fit: cover;
        }
      }
    }
  }
  @include mq(sm) { // 引数を個別に指定
    width:90vw;
    margin:0 auto;
    .posts {
      a {
        display:block;
        .post-info {
          h3{
           margin:0;
            padding-left:30px;
          }
        }
        .posts__image_container {
          .gatsby-image-wrapper{
            height:200px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

article:nth-child(2n+1){
  a{
    background-color:$text-accent-color;

  }
}
.gatsby-image-wrapper{
  margin: 10px;
  margin-top: 20px;
  flex-grow: 1;
}

.post-header{
  background-color: $back-color;
  .gatsby-image-wrapper{
    background-color: $text-accent-color;
    width: 50vw;
    left: 25vw;
    height: 40vh;
    z-index:3;
    @include mq(sm) { // 引数を個別に指定
      width: 68vw;
      left: 25vw;
      height: 40vh;
      z-index:3;
    }
  }
  h1{
    position: absolute;
    top:10vh;
    left:21vw;
    z-index: 4;
    background-color: rgba(255,255,255,0.6);
  }
  p{
    display:block;
    z-index:4;
    bottom:5vh;
    left:10vw;
    position:relative;
    @include mq(sm) {
      left:-10vw;
    }
  }

}
.post-header::after{
     width:60vw;
     height:40vh;
     content:"";
     background-color: $back-sub-color;
     position:absolute;
     top:10vh;
     left:15vw;
     z-index: 1;
  @include mq(sm) {
    left:0;
  }
  }
.post-inner{
  width:60vw;
  margin:0 auto;
  @include mq(sm) {
    width:90vw;
  }
}
nav{
  ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    list-style:none;
    width:60vw;
    margin:0 auto;
    padding: 0;
    @include mq(sm) {
      display:block;
      width:90vw;
      li:nth-child(2n){
        text-align:right;
      }
    }
  }

}
